	<article>
		<h1>#{{ type }}</h1>
      	<hr>
				<div class="listArticles">
					{{#each listArticles}}
					<a href='/article/{{this.title}}'>
						<div class="boxArticle">
								<h2>{{this.title}}</h2>
								<em>{{this.author}}</em>
								<p>{{{this.resume}}}</p>
						</div>
					</a>
					{{/each}}
				</div>
    </article>
